apiVersion: 1

datasources:
  - name: Prometheus
    uid: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Infinity
    uid: infinity
    type: grafana-infinity-datasource
    access: proxy
    url: http://topology:8001
    isDefault: false
